// Named Breakpoint Values
$breakpoints: (
  small: 320px,
  medium: 720px,
  large: 1024px,
  x-large: 1940px,
  xx-large: 2800px,
);


//color pallete

$primaryDark: #000000;
$primaryMiddle: #15294A;
$primaryLight: rgb(255,255,255);
