@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*
Found: https://ian.pvdindustrial.com/blog/mobile-first-scss-media-queries-mixin-20181115/
This allows you to call @include breakpoints(insert-size-here) and have the breakpoint affect
everything above that size. Great for responsive design
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(/iosite/images/no-text-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

nav {
  color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-width: 0;
}

@media all and (min-width: 721px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-width: 0;
    padding: 2rem 4rem;
  }
}

nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-width: 100%;
}

@media all and (min-width: 721px) {
  nav .row {
    min-width: 45%;
  }
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
  width: 50%;
  min-width: 50%;
}

@media all and (min-width: 721px) {
  nav .logo {
    width: 100%;
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 1941px) {
  nav .logo {
    font-size: 4rem;
  }
}

@media all and (min-width: 2801px) {
  nav .logo {
    font-size: 4rem;
  }
}

nav .logo a {
  text-decoration: none;
  color: white;
}

nav .logo a:hover {
  color: gold;
  border: 0 solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

nav ul {
  display: none;
  width: 0;
}

@media all and (min-width: 721px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav ul li {
  margin: 0 1.5rem;
  list-style: none;
  font-size: 1.5rem;
  white-space: nowrap;
  line-height: 28px;
}

@media all and (min-width: 1025px) {
  nav ul li {
    padding: 0 1rem;
  }
}

@media all and (min-width: 1941px) {
  nav ul li {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 2801px) {
  nav ul li {
    font-size: 3rem;
  }
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  color: gold;
  border: 0 solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

nav ul .contact {
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.5rem;
}

nav ul .contact:hover {
  color: gold;
  border: 1px solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

nav .hamburger {
  width: 50%;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

@media all and (min-width: 721px) {
  nav .hamburger {
    display: none;
  }
}

nav .hamburger .bar1, nav .hamburger .bar2, nav .hamburger .bar3 {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .hamburger .bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

nav .hamburger .bar2.change {
  opacity: 0;
}

nav .hamburger .bar3.change {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
          transform: rotate(45deg) translate(-9px, -6px);
}

nav .visable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
}

nav .visable li {
  padding: 1rem;
}

.active {
  color: gold;
}

.content {
  color: white;
  text-align: center;
  width: 90%;
  margin: auto;
}

@media all and (min-width: 1025px) {
  .content {
    width: 70%;
  }
}

@media all and (min-width: 2801px) {
  .content {
    width: 40%;
    padding-top: 18vh;
  }
}

.content h1 {
  padding: 8rem 0 5rem;
  font-size: 2.5rem;
}

@media all and (min-width: 1025px) {
  .content h1 {
    font-size: 2.5rem;
    line-height: 56px;
  }
}

@media all and (min-width: 2801px) {
  .content h1 {
    font-size: 5rem;
    line-height: 90px;
  }
}

.content p {
  font-size: 2rem;
  padding: 0 0.5rem 4rem;
}

.content p a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1025px) {
  .content p {
    font-size: 2.25rem;
    line-height: 42px;
  }
}

@media all and (min-width: 2801px) {
  .content p {
    font-size: 4.25rem;
    line-height: 60px;
  }
}

.content a {
  text-decoration: none;
  color: white;
}

.content a:hover {
  color: gold;
  border: 0 solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.content .contact {
  margin: 1.5rem auto;
  width: 60%;
  max-width: 300px;
  font-size: 1.75rem;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.5rem;
}

@media all and (min-width: 2801px) {
  .content .contact {
    font-size: 3.25rem;
  }
}

.content .contact:hover {
  color: gold;
  border: 1px solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.service-content {
  color: white;
  min-height: 100vh;
}

@media all and (min-width: 1025px) {
  .service-content {
    width: 70%;
    margin: auto;
  }
}

@media all and (min-width: 2801px) {
  .service-content {
    width: 70%;
    margin: auto;
    padding-top: 10vh;
  }
}

.service-content h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 6rem 1rem 0rem;
}

@media all and (min-width: 2801px) {
  .service-content h1 {
    font-size: 6rem;
    padding: 2rem 1rem 2rem;
  }
}

.service-content h2 {
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  padding: 1rem 1rem;
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}

.service-content hr {
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;
}

.service-content .contact {
  border: 1px solid white;
  border-radius: 8px;
  max-width: 300px;
  margin-bottom: 2rem;
}

.service-content .contact:hover {
  color: gold;
  border: 1px solid gold;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

@media all and (min-width: 2801px) {
  .service-content .contact {
    font-size: 4rem;
    max-width: 600px;
  }
}

.service-content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 721px) {
  .service-content .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem 4rem 2rem;
    margin: 0 3rem;
  }
}

@media all and (min-width: 1025px) {
  .service-content .services {
    margin: 0 auto;
  }
}

@media all and (min-width: 1941px) {
  .service-content .services {
    margin: 0 auto;
  }
}

.service-content .services .service {
  max-width: 300px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0 1rem;
}

@media all and (min-width: 2801px) {
  .service-content .services .service {
    max-width: 400px;
    width: 400px;
  }
}

.service-content .services .service h2 {
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  padding: 1rem 1rem;
  width: 60%;
  margin: auto;
  text-decoration: underline;
}

@media all and (min-width: 2801px) {
  .service-content .services .service h2 {
    font-size: 4.5rem;
    line-height: 70px;
    width: 80%;
  }
}

.service-content .services .service ul {
  font-size: 1.5rem;
  line-height: 24px;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

@media all and (min-width: 2801px) {
  .service-content .services .service ul {
    font-size: 3rem;
    line-height: 56px;
  }
}

.service-content .services .service ul li {
  padding: 0.25rem 0;
}

.about-us {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us h2 {
  font-size: 2.5rem;
  margin: 0 auto;
  padding-top: 1rem;
}

@media all and (min-width: 1941px) {
  .about-us h2 {
    font-size: 3rem;
  }
}

@media all and (min-width: 2801px) {
  .about-us h2 {
    font-size: 5rem;
  }
}

.about-us .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 721px) {
  .about-us .people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 0;
    margin: 0 3rem;
  }
}

@media all and (min-width: 1025px) {
  .about-us .people {
    padding: 4rem;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media all and (min-width: 1941px) {
  .about-us .people {
    padding: 4rem;
    margin: 0 auto;
    max-width: 70%;
  }
}

@media all and (min-width: 2801px) {
  .about-us .people {
    padding: 6rem;
    width: 70%;
  }
}

.about-us .person {
  max-width: 232px;
  width: 232px;
  margin: auto;
  text-align: center;
  padding: 3rem 0 1rem;
}

@media all and (min-width: 2801px) {
  .about-us .person {
    max-width: 464px;
    width: 464px;
  }
}

.about-us .person img {
  border-radius: 50%;
  width: 202px;
}

@media all and (min-width: 2801px) {
  .about-us .person img {
    max-width: 404px;
    width: 404px;
  }
}

.about-us .person h2 {
  font-size: 2.25rem;
}

@media all and (min-width: 1941px) {
  .about-us .person h2 {
    font-size: 4rem;
  }
}

@media all and (min-width: 2801px) {
  .about-us .person h2 {
    font-size: 4.5rem;
  }
}

.about-us .person h3 {
  font-size: 2rem;
}

@media all and (min-width: 1941px) {
  .about-us .person h3 {
    font-size: 3rem;
  }
}

@media all and (min-width: 2801px) {
  .about-us .person h3 {
    font-size: 4rem;
  }
}

.about-us p {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 0 1rem 3rem;
}

@media all and (min-width: 721px) {
  .about-us p {
    margin: 0 auto;
    max-width: 90%;
  }
}

@media all and (min-width: 1025px) {
  .about-us p {
    margin: 0 auto;
    max-width: 80%;
    padding: 0 1rem 1rem;
  }
}

@media all and (min-width: 1941px) {
  .about-us p {
    font-size: 2.5rem;
    line-height: 50px;
    margin: 0 auto;
    max-width: 70%;
  }
}

@media all and (min-width: 2801px) {
  .about-us p {
    font-size: 3.5rem;
    line-height: 50px;
    max-width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */