@import './reset';
@import './breakpoints';
@import './variables';
@import './hamburger';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    // box sizing and global font. Always do this
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// make sure that the image is full screen and behind all the elements
body{
    background: url(/images/no-text-background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

// For all the hover elements like links and buttons
@mixin common-hover($border-size: 1px){
    &:hover{
        color: gold;
        border: $border-size solid gold;
        border-radius: 8px;
        transition: all 0.3s;
        cursor: pointer;

    }
}
//standard border for important links
@mixin bordered-item{
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5rem;
    //all of these include the hover
    @include common-hover();
}

//changes all the flex settings. used in media queries
//flex direction is row or column
//width is in percentage of row taken
//min width is 0 unless required for layout
@mixin flex($flex-direction, $width, $min-width: 0) {
    display: flex;
    flex-direction: $flex-direction;
    width: $width;
    min-width: $min-width;
}

nav{
    //color padding flex
     color: $primaryLight;
     padding: 2rem;
     @include flex(column, 100%);
    
     //@medium break point switch from columns to rows and add padding
     @include breakpoints(medium){
        @include flex(row, 100%);
         padding: 2rem 4rem;
     }
    //@lage break point switch from columns to rows and add padding
    // @include breakpoints(x-large){
    //     padding: 4rem 8rem;
    // }
     //I split the header into two rows so the hamburger would render properly
     .row{
         @include flex(row, 100%, 100%);
         @include breakpoints(medium){
             //@medium breakpoint the hamburger is display 0
             //So this becomes the new first and second element
            min-width: 45%;
         }
     }
     
     .logo{
         //force width 50% so the hamburger sits right
        display: flex;
        justify-content: flex-start;
        font-size: 2rem;
        width: 50%;
        min-width: 50%;
        @include breakpoints(medium){
            //@medium the hamburger is irrelevant so fill up your container
            width: 100%;
            min-width: 100%;
            align-items: center;
         }
         @include breakpoints(x-large){
            //@medium the hamburger is irrelevant so fill up your container
            font-size: 4rem;
         }
         @include breakpoints(xx-large){
            //@medium the hamburger is irrelevant so fill up your container
            font-size: 4rem;
         }
         a{
            text-decoration: none;
            color: white;
            @include common-hover(0);
        }

     }
    //nav list, starts as display none.
    ul{
        display: none;
        width: 0;
        //@medium it comes back and into its proper place as the hamburger disappears
        @include breakpoints(medium){
            @include flex(row, 100%, 100%);
            justify-content: flex-end;
            align-items: center;
         }
      
        //stardard list formatting. remove the dots, change the fontsize etc
        li{
            margin: 0 1.5rem;
            list-style: none;
            font-size: 1.5rem;
            white-space: nowrap;
            line-height: 28px;
         
            //@large add some padding
            @include breakpoints(large){
                padding: 0 1rem;
            }
            //@large add some padding
            @include breakpoints(x-large){
                font-size: 2.5rem;
            }
            //@large add some padding
            @include breakpoints(xx-large){
                font-size: 3rem;
            }
           
        }
        //this is the class for the end item to make it bordered etc
    
        a{
            text-decoration: none;
            color: white;
            @include common-hover(0);
        }
        .contact{
            @include bordered-item();
        }

    }
    //the code for the hamburger icon
    @include hamburger();

}

.active{
    color: gold;
}

//format and center content
.content{
    color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    //mandatory width shrinking as the window gets bigger
    @include breakpoints(large){
        width: 70%;
    }

    //mandatory width shrinking as the window gets bigger
    @include breakpoints(xx-large){
        width: 40%;
        padding-top: 18vh;
    }
    //header padding and font
    h1{
        padding: 8rem 0 5rem;
        font-size: 2.5rem;
        //make font bigger on larger screens
        @include breakpoints(large){
            font-size: 3rem;
            line-height: 56px;
        }
        //make font bigger on larger screens
        @include breakpoints(xx-large){
            font-size: 6rem;
            line-height: 90px;
        }
    }
    //content padding and font
    p{  
        a{
            text-decoration: none;
               color: $primaryLight;
        }
        font-size: 2rem;
        padding: 0 0.5rem 4rem;
        //make font bigger on larger screens
        @include breakpoints(large){
            font-size: 2.25rem;
            line-height: 42px;
        }
        //make font bigger on larger screens
        @include breakpoints(large){
            font-size: 4.25rem;
            line-height: 60px;
        }
    }
    //contact button formatting and font followed by border function
    a{
        text-decoration: none;
        color: white;
        @include common-hover(0);
    }
    .contact{
        margin: 1.5rem auto;
        width: 60%;
        max-width: 300px;
        font-size: 1.75rem;
        
        @include breakpoints(xx-large){
            font-size: 3.25rem;
        }
        @include bordered-item();
    }

}

// Services Code

.service-content{
    // background-color: rgba($primaryLight,0.6);
    color: $primaryLight;
    min-height: 100vh;
    //mandatory width shrinking as the window gets bigger
    @include breakpoints(large){
        width: 70%;
        margin: auto;

    }

    //mandatory width shrinking as the window gets bigger
    @include breakpoints(xx-large){
        width: 70%;
        margin: auto;
        padding-top: 10vh;
    }
    h1{
        font-size: 2.5rem;
        text-align: center;
        padding: 6rem 1rem 0rem;
        //mandatory width shrinking as the window gets bigger
        @include breakpoints(xx-large){
            font-size: 6rem;
            padding: 2rem 1rem 2rem;
        }
    }
    h2{
        font-size: 2rem;
        line-height: 42px;
        text-align: center;
        padding: 1rem 1rem;
        width: 60%;
        margin: auto;  
        margin-top: 2rem;
   
    }
    hr{
        height: 20px;
        padding: 0;
        margin: 0;
        border: none;
        background-color: white;
    }
    .contact{
        @include common-hover();
        border: 1px solid $primaryLight;
        border-radius: 8px;
        max-width: 300px;
        margin-bottom: 2rem;
        //mandatory width shrinking as the window gets bigger
        @include breakpoints(xx-large){
            font-size: 4rem;
            max-width: 600px;
        } 
    }

    .services{
        display: flex;
        flex-direction: column;
        @include breakpoints(medium){
            flex-wrap: wrap;
            flex-direction: row;
            padding: 2rem 4rem 2rem;
            margin: 0 3rem;
        }
        @include breakpoints(large){
            margin: 0 auto;
            max-width: 80%;
        }
        @include breakpoints(x-large){
            margin: 0 auto;
            max-width: 70%;
        }

      
        .service{
            max-width: 300px;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            padding: 3rem 0 1rem;
            @include breakpoints(xx-large){
                max-width: 400px;
                width: 400px;
            }
            h2{
                font-size: 2rem;
                line-height: 42px;
                text-align: center;
                padding: 1rem 1rem;
                width: 60%;
                margin: auto;
                // color: $primaryMiddle;
                text-decoration: underline;
                @include breakpoints(xx-large){
                    font-size: 4.5rem;
                    line-height: 70px;
                    width: 80%;
                }

            }
            ul{
                font-size: 1.5rem;
                line-height: 24px;
                margin: auto;
                width: 100%;
                padding: 0 1rem;
                text-align: center;
                @include breakpoints(xx-large){
                    font-size: 3rem;
                    line-height: 56px;
                }
                li{
                    padding: 0.25rem 0;
                }
            }
        }

    }  
}

//About Us Code
.about-us{
    color: $primaryLight;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 2.5rem;
        margin: 0 auto;
        padding-top: 1rem;
        @include breakpoints(x-large){
            font-size: 3rem;
        }
        @include breakpoints(xx-large){
            font-size: 5rem;
        }
    }
    .people{
        display: flex;
        flex-direction: column;
        @include breakpoints(medium){
            flex-wrap: wrap;
            flex-direction: row;
            padding: 1rem 0;
            margin: 0 3rem;
        }
        @include breakpoints(large){
            padding: 4rem;
            margin: 0 auto;
            max-width: 80%;
        }
        @include breakpoints(x-large){
            padding: 4rem;
            margin: 0 auto;
            max-width: 70%;
        }
        @include breakpoints(xx-large){
            padding: 6rem;
            width: 70%;
        }
    }
    .person{
        max-width: 232px;
        width: 232px;
        margin: auto;
        text-align: center;
        padding: 3rem 0 1rem;
        @include breakpoints(xx-large){
            max-width: 464px;
            width: 464px;
        }
        img{
            border-radius: 50%;
            width: 202px;
            @include breakpoints(xx-large){
                max-width: 404px;
                width: 404px;
            }
        }
        h2{
            font-size: 2.25rem;
            @include breakpoints(x-large){
                font-size: 4rem;
            }
            @include breakpoints(xx-large){
                font-size: 4.5rem;
            }
        }
        h3{
            font-size: 2rem;
            @include breakpoints(x-large){
                font-size: 3rem;
            }
            @include breakpoints(xx-large){
                font-size: 4rem;
            }
        }
    }
    p{
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        padding: 0 1rem 3rem;
    
        @include breakpoints(medium){
            margin: 0 auto;
            max-width: 90%;
        }
        @include breakpoints(large){
            margin: 0 auto;
            max-width: 80%;
            padding: 0 1rem 3rem;
        }
        @include breakpoints(x-large){
            font-size: 2.5rem;
            line-height: 50px;
            margin: 0 auto;
            max-width: 70%;
        }
        @include breakpoints(xx-large){
            font-size: 3.5rem;
            line-height: 50px;
            max-width: 50%;
        }
    }
}